<table>
    ~%%begin:companies%
    <tr>
        <td>Name</td><td>~%name%</td>
        <td>Profits</td><td>~%profits%</td>
        <td>Departments</td>
        <td><table>
            ~%%begin:departments%
            <tr>
                <td>Name</td><td>~%name%</td>
                <td>Boss</td><td>~%boss%</td>
                <td>Employees</td>
                <td><table>
                    ~%%begin:employees%
                        <tr>
                            <td>Name</td><td>~%name%</td>
                            <td>Age</td><td>~%age%</td>
                        </tr>
                    ~%%end:employees%
                    </table>
                </td>
            </tr>
            ~%%end:departments%
        </table></td>
    </tr>
    ~%%end:companies%
</table>
